Implementación de algoritmos de vecinos dentro del marco del filtrado colaborativo. La idea es tener una 
implementación sencilla en la notebook y luego modularlo de manera correcta en la librería.

In [20]:
import numpy as np
import pandas as pd
from tqdm import tqdm

def generate_ratings_matrix(data_rows: np.ndarray):
    r = np.zeros((943, 1682))
    r[:] = np.nan
    for i in data_rows:
        r[i[0] - 1][i[1] - 1] = i[2]
    return r

In [2]:
train = pd.read_csv("../data/train.csv")
test = pd.read_csv("../data/test.csv")

In [3]:
train.head()

   user_id  item_id  rating  timestamp
0       85      423       4  879454046
1      290       71       5  880473667
2      152      692       5  880149963
3      759      678       2  875227742
4       92      928       3  886443582

In [4]:
test.head()

   user_id  item_id  rating  timestamp
0      301       39       3  882076292
1      288      121       2  886893063
2      234      614       3  892334609
3      387      581       4  886483394
4      544      346       4  884795135

# User-based

Lo primero que debemos hacer es computar la matriz de similaridades entre todos los usuarios del train. Después, debemos verificar las predicciones en el test. Cualquiera optimización del número de vecinos debe hacerse mediante validación cruzada. Los resultados finales se obtienen sobre el conjunto de test.

In [19]:
def cosine_similarity(u, v):
    num = np.nansum(u * v)
    den = np.sqrt((np.nansum(u * u)) * (np.nansum(v * v)))
    return num / den

In [8]:
r_train = generate_ratings_matrix(train.values)

In [21]:
sim_matrix = np.zeros((943, 943))

for i, u in tqdm(enumerate(r_train)):
    for j, v in enumerate(r_train):
        sim_matrix[i][j] = cosine_similarity(u, v)

943it [01:01, 15.23it/s]

In [33]:
K = 10

for i in test.values:
    user_id = i[0] - 1
    item_id = i[1] - 1
    true_rating = i[2]
        
    similarities = np.argsort(sim_matrix[user_id])[::-1][1:]
    neighbors = []
    n_neighbors = 0
    ratings = 

    for neighbor in similarities:
        if train.values[neighbor][item_id] != np.nan:
            n_neighbors += 1
            neighbors.append()

IndentationError: expected an indented block (3375891148.py, line 14)